---
layout: archive
permalink: /categories/
title: "按分类归档"
author_profile: true
---

{% include base_path %}
{% assign zh_posts = site.posts | where_exp: 'post', "post.lang != 'en'" %}
{% include group-by-array collection=zh_posts field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}